/* Conteneur du leaderboard avec scroll */
.tableWrapper {
  min-height: 55vh;
  max-height: 75vh; 
  overflow-y: auto;
  overflow-x: hidden;
  margin: 10px 0;
  border-radius: 15px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  background-color: #F1F3C2;
  width: 100%;
  overflow-x: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Pour Chrome, Edge et Safari */
.tableWrapper::-webkit-scrollbar {
  width: 12px; 
  height: 12px; 
}

.tableWrapper::-webkit-scrollbar-thumb {
  background-color: #E8BB6D;
  border-radius: 8px; 
  border: 2px solid #F1F3C2; 
}

.tableWrapper::-webkit-scrollbar-track {
  background-color: #F1F3C2; 
  border-radius: 8px;
}

/* Effet au survol */
.tableWrapper::-webkit-scrollbar-thumb:hover {
  background-color: #D5A563; 
}

/* Table principale */
.table {
  width: 100%;
  table-layout: auto;
    border-collapse: collapse;
    background-color: #F1F3C2;
    text-align: center;
    border-radius: 15px;
    overflow: hidden;
  }
  
  /* Entête du tableau */
  .headtable {
    background: #E8BB6D;
    position: sticky; 
    top: 0;
    z-index: 2;
  }
  
  .headcell {
    padding: 8px;
    font-size: 1.1rem;
    font-weight: bold;
    color: #000000;
    border: 1px solid #AAAAAA;
  }
  
  /* Corps du tableau */
  .corpstable {
    background-color: #F1F3C2;
  }
  
  .lignejoueur {
    background-color: #F1F3C2;
  }
  
  .cellule {
    padding: 0.6rem;
    font-size: 1rem;
    border: 1px solid #AAAAAA;
    border-right: none;
    border-left: none;
    max-width: none; /* Remove max-width restriction */
  white-space: normal; 

    overflow: hidden;
    text-overflow:ellipsis;
  }


  .utilisateurActuel {
    background-color: #E8BB6D !important; 
    font-weight: bold; 
    color: #000000; 
}


  
  .lignejoueur:hover {
    background-color: #E8BB6D;
  }
  

  .pagination {
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5vw;
}

.pageButton {
    background-color: #E8BB6D;
    color: #000000;
    border: none;
    padding: 5px 10px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.pageButton:hover {
    background-color: #F1F3C2;
    color: #000000;
}

.pageButton:disabled {
    background-color: #AAAAAA;
    color: #666666;
    cursor: not-allowed;
}

.pageInfo {
    font-size: 0.9rem;
    font-weight: bold;
    color: #000000;
}