.footer {
    background-color: var(--primary);
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: auto;
    width: 100%;

    align-self: flex-end;
}



.footer a{
    color: var(--text-color);
    text-decoration: none;
}

.footer p{
    color: var(--text-color);
    text-decoration: none;
}

.footer .logoIUT{
    width: 2.5;
    height: 2.5vw;
}
.footer .logo {
    width: 2.5vw;
    height: 2.5vw;
}