:root {
  --primary: #A1D6B2;
  --secondary: #CEDF9F;
  --tertiary: #F1F3C2;
  --quaternary: #E8BB6D;
  --text-color: #000000;
}

body {
  background-color: var(--secondary);
  color: var(--text-color);
  margin : 0px;
  min-height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}