:root {
  --primary: #A1D6B2;
  --primary-transparent: rgba(161, 214, 178, 0.9);
  --secondary: #CEDF9F;
  --tertiary: #F1F3C2;
  --quaternary: #E8BB6D;
  --quaternary-hover: #b79151;
  --quaternary-dark: #D5A563;
  --text-color: #000000;
  --text-color-emphasis: #5a9a6a;
  --shadow-color: rgb(78, 75, 75);
  --text-dark: #060404;
  --button-hover-blue: #357ab8;
  --border-light: #ccc;
  --white: #ffffff;
  --black-transparent: rgba(0, 0, 0, 0.2);
}

body {
  background-color: var(--secondary);
  color: var(--text-color);
  margin : 0px;
  min-height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.active {
  background-color: var(--quaternary);
}

body::-webkit-scrollbar {
  width: 15px; 
}

body::-webkit-scrollbar-thumb {
  background-color: var(--quaternary);
  border-radius: 8px;
  border: 2px solid var(--secondary); 
}

body::-webkit-scrollbar-track {
  background-color: var(--secondary); 
}

body::-webkit-scrollbar-thumb:hover {
  background-color: var(--quaternary-dark);
}

.btngeneral{
  background-color: var(--quaternary);
  height: 4vw;
  padding: 1vw 2vw;
  margin: 0.7vw;
  margin-top: 1vw;
  border: none;
  border-radius: 15px;
  box-shadow: -1px 1px 1px var(--shadow-color);
  font-size: 1.8vw;
  cursor: pointer;
  transition: background-color 0.3s ease;
  white-space: nowrap;
}

.btngeneral:hover{
  background-color: var(--quaternary-hover);
}