:root {
  --primary: #A1D6B2;
  --secondary: #CEDF9F;
  --tertiary: #F1F3C2;
  --quaternary: #E8BB6D;
  --text-color: #000000;
  --text-color-emphasis: #5a9a6a;
}

body {
  background-color: var(--secondary);
  color: var(--text-color);
  margin : 0px;
  min-height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.active {
  background-color: var(--quaternary);
}

body::-webkit-scrollbar {
  width: 15px; 
}

body::-webkit-scrollbar-thumb {
  background-color: var(--quaternary);
  border-radius: 8px;
  border: 2px solid var(--secondary); 
}

body::-webkit-scrollbar-track {
  background-color: var(--secondary); 
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #D5A563;
}

.btngeneral{
  background-color: #E8BB6D;
  height: 4vw;
  padding: 1vw 2vw;
  margin: 0.7vw;
  margin-top: 1vw;
  border: none;
  border-radius: 15px;
  box-shadow: -1px 1px 1px rgb(78, 75, 75);
  font-size: 1.8vw;
  cursor: pointer;
  transition: background-color 0.3s ease;
  white-space: nowrap;
}

.btngeneral:hover{
  background-color: #b79151;
}