html, body {
    margin: 0;
}

.apprendre {
    background-image: url("../img/fondapprendre.png");
    min-height: 80vh; 
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; 
    align-items: center;
    padding: 20px;
    box-sizing: border-box; 
}

.texteapprendre {
    text-align: center;
    background-color: #F1F3C2;
    padding: 20px;
    border-radius: 20px;
    max-width: 60vw; 
    width: 55vw;
    box-shadow: -1px 3px 3px rgb(78, 75, 75);
    opacity: 90%;
}

.texteapprendre *{
    font-size: 1.8vw;
    text-decoration : none;
    color: var(--text-color);
}

.choixboutons {
    display: flex;
    gap: 5vw;
    margin-top: 20px;
}

.choixboutons .boutonsCours {
    opacity: 90%;
    width: auto;
    padding: 4vw ;
    border: none;
    background-color: #F1F3C2;
    border-radius: 20px;
    cursor: pointer;
    font-size: 3vw;
    box-shadow: -1px 3px 3px rgb(78, 75, 75);
    text-decoration : none;
    color: var(--text-color);
    
}

.choixboutons .boutonsCours:hover {
    background-color: #E8BB6D;
}

.fenetreCours{
    filter: none;
    text-align: center;
    background-color: #F1F3C2;
    padding: 20px;
    border-radius: 20px;
    max-width: 60vw; 
    width: 55vw;
    box-shadow: -1px 3px 3px rgb(78, 75, 75);
    white-space: pre-line;
    position : fixed;
    top: 30%;
    right: 22%;
    
}

.groupeButtonFenetreCours{
    display:flex;
    justify-content: space-evenly;
}

.groupeButtonFenetreCours button{
    background-color: #E8BB6D;
    height: 4vw;
    padding: 1vw 2vw;
    margin: 0.7vw;
    margin-top: 1vw;
    border: none;
    border-radius: 50px;
    box-shadow: -1px 3px 3px rgb(78, 75, 75);
    font-size: 1.8vw;
    cursor: pointer;
    transition: background-color 0.3s ease; 
}

.groupeButtonFenetreCours button:hover {
    background-color: #D8A75F; 
  }

