html, body {
    margin: 0;
}

.apprendre {
    background-image: url("../img/fondapprendre.png");
    min-height: 84.2vh;
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; 
    align-items: center;
    padding: 20px;
    box-sizing: border-box; 
}

.texteapprendre {
    text-align: center;
    background-color: #F1F3C2;
    padding: 20px;
    border-radius: 20px;
    max-width: 60vw; 
    width: 55vw;
    box-shadow: -1px 3px 3px rgb(78, 75, 75);
    opacity: 90%;
    font-size: 1.8vw;
    text-decoration : none;
    color: var(--text-color);
}

.liste{
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.texteListeApprendre{
    list-style-type:upper-roman;
    list-style-position: inside;
    background-color: var(--secondary);
    width: 15vw;
    margin: 1vw;
    border-radius: 20px ;
    padding: 5px;
    box-shadow: -1px 3px 3px rgb(78, 75, 75);

}

.texteListeApprendre:hover{ /*Le texte dans la liste dans liste cours*/
    background-color: #E8BB6D;
    cursor: pointer;
}


    


.choixboutons /*la div sur la page Apprendre avec les link vers Cours et Exercices*/ {
    display: flex;
    gap: 5vw;
    margin-top: 20px;
}

.choixboutons .boutonsCours {
    opacity: 90%;
    width: auto;
    padding: 4vw ;
    border: none;
    background-color: #F1F3C2;
    border-radius: 20px;
    cursor: pointer;
    font-size: 3vw;
    box-shadow: -1px 3px 3px rgb(78, 75, 75);
    text-decoration : none;
    color: var(--text-color);
    
}

.choixboutons .boutonsCours:hover {
    background-color: #E8BB6D;
}

.fenetreCours{ /*la div dans laquelle on met les sous-cours qui apparait quant on clique sur le nom du cours*/
    filter: none;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #F1F3C2;
    padding: 1vw;
    border-radius: 20px;
    max-width: 60vw; 
    width: 55vw;
    height: 33vw;
    box-shadow: -1px 3px 3px rgb(78, 75, 75);
    /**/

    position : fixed;
    top: 10%;
    right: 22%;
    overflow : auto; 
    justify-content: space-between; 
    font-size: 1.4rem;
}

.fenetreCours img {
    max-width: 40%; 
    max-height: 40%; 
    object-fit: contain;
}

.groupeButtonFenetreCours{ /*la div avec les bouttons Back Exit Next dans la fenetre Sous-cours*/
    display:flex;
    justify-content: space-evenly;
}

.boutonsCours{/*Le bouton exercice dans la sous-cours + les bouttons prochain,sortir,précédant*/
    background-color: #E8BB6D;
    height: 4vw;
    padding: 1vw 2vw;
    margin: 0.7vw;
    margin-top: 1vw;
    border: none;
    border-radius: 50px;
    box-shadow: -1px 3px 3px rgb(78, 75, 75);
    font-size: 1.8vw; /*Que le texte dans la div des sous-cours*/
    cursor: pointer;
    transition: background-color 0.3s ease; 
    text-decoration: none;
    color : black;
}

.groupeButtonFenetreCours button:hover {
    background-color: #D8A75F; 
  }

  .popup {
  position: fixed;
  top: 18%;
  left: 92%;
  width: 12vw;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 0.2vw;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  border-radius: 8px;
  text-align: center;
}

.popupContent h2 {
  margin-top: 0px;
  margin-top: 0px;
  font-size: 18px;
  color: #4caf50;
}


.boutonfermer{
    background-color: rgba(0, 0, 0, 0);
    display:flex;
    margin-left: auto;

.boutonfermer{
    background-color: rgba(0, 0, 0, 0);
    display:flex;
    margin-left: auto;
    border: none;
    font-size: large;
}
  

.modal{
    background-color: rgba(241, 243, 194, 0.90);
    width: 65%;
    border-radius: 20px;
    margin: 2vw;
}

<<<<<<< HEAD

.listeExercices{
    background-color: rgba(241, 243, 194, 0.90);
    box-shadow: -1px 2px 2px rgb(78, 75, 75);
    border-radius: 20px;
    width: 65%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;    
}

.exercice{
    margin: 2vw;
    background-color: var(--secondary);
    box-shadow: -1px 2px 2px rgb(78, 75, 75);
    border-radius: 10px;
    justify-items: center;
    padding: 5px;
}

.exercice h2{
    font-size: 2vw;
    margin: 1vw;
}

.btnajouter:hover {
    background-color: #D8A75F;
}

.sandbox{
    display: flex;
    flex-direction: column;
}
