.Competition {
  display: flex;
  flex-direction: column; /* Organise en colonnes */
  padding: 20px;
  min-height: 80vh;
  box-sizing: border-box;
  position: relative; /* Nécessaire pour un positionnement absolu */
  align-items: center; /* Centre horizontalement le contenu principal */
  justify-content: center;
}

.Competition h1 {
  text-align: center; /* Centre le texte */
  margin-bottom: 20px; /* Espacement sous le titre */
}

.Competition > div {
  display: flex;
  flex-direction: row; /* Organise les enfants horizontalement */
  align-items: center; /* Centre verticalement */
  /* justify-content: space-between; Éloigne les éléments entre eux */
  width: 100%;
  max-width: 1200px; /* Limite la largeur totale de la ligne */
}

.InterfaceSaisie {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1; /* Prend tout l'espace disponible */
}

.InterfaceSaisie input {
  text-align: center; /* Centre le texte dans le champ */
}

.Competition .leaderboard {
  min-height: 300px; 
  max-width: 400px;
}

.readyButtonContainer {
  display: flex;
  flex-direction: column; /* Organise le texte et le bouton en colonne */
  align-items: center; /* Centre horizontalement */
  gap: 10px; /* Espacement entre le texte et le bouton */
  margin-top: 20px; /* Espacement au-dessus du conteneur */
  width: 40vw;
}

.readyButton {
  background-color: #E8BB6D;
  color: #060404;
  border-radius: 8px;
  border: black;
  border-width: 2px;
  padding: 15px 30px;
  font-size: 1.5rem; /* Taille du texte augmentée */
  cursor: pointer;
  transition: transform 0.2s ease;
}

.readyButton:hover {
  transform: scale(1.1); /* Agrandit légèrement le bouton au survol */
}

.readyButton:active {
  transform: scale(0.95); /* Réduit légèrement le bouton lorsqu'il est cliqué */
}

.lastScoreContainer {
  margin: 20px auto;
  text-align: center;
  padding: 10px;
  background-color: var(--tertiary);
  border-radius: 5px;
  max-width: 400px;
}

.competContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;  
}

.defi{
  margin-right:2vw;
}

.leaderboard{
  margin-left: 2vw;
}