/* Empêcher le scroll horizontal */
body {
    overflow-x: hidden; /* Désactive le défilement horizontal */
    margin: 0; /* Supprime les marges par défaut */
    height: 100vh; /* S'assure que le corps occupe toute la hauteur */
    width: 100vw;
}

/* Styles spécifiques à la section connexion */
.connexion {
    background-image: url('../img/fondConnexion.png');
    background-size: cover; /* L'image couvre tout l'espace */
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; /* Pleine hauteur de l'écran */
    width: 100vw; /* Pleine largeur de l'écran */
    display: flex; /* Pour centrer le formulaire */
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
    overflow-y: auto; /* Ajoute un scroll vertical si nécessaire */
}

.connexion form {
    background-color: var(--primary-transparent);
    border-radius: 12px; /* Coins arrondis */
    box-shadow: 0 4px 20px var(--black-transparent); /* Ombre marquée */
    padding: 15px; /* Espacement interne réduit */
    max-width: 300px; /* Largeur maximale réduite */
    width: 90%; /* Prend jusqu'à 90% de la largeur disponible */
    margin-bottom: 5vw;
}

.connexion img {
    width: 4vw; /* Réduit la taille de l'image */
    height: auto;
    display: block;
    margin: 0 auto 15px; /* Centre l'image et réduit l'espacement en bas */
}

.connexion label {
    display: block;
    margin: 8px 0 5px; /* Marges réduites */
}

.connexion input {
    width: 100%;
    padding: 8px; /* Réduit l'espacement interne */
    margin-bottom: 12px; /* Réduit l'espacement entre les champs */
    border: 1px solid var(--border-light);
    border-radius: 4px;
    font-size: 14px; /* Taille de police légèrement réduite */
    box-sizing: border-box;
}

.connexion button {
    margin-top: 8px; /* Espacement au-dessus réduit */
    background-color: var(--white);
    color: var(--text-color);
    padding: 8px; /* Réduit la taille du bouton */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px; /* Taille de police légèrement réduite */
    width: 100%;
}

.connexion button:hover {
    background-color: var(--button-hover-blue);
    color: var(--white);
}

.connexion p {
    text-align: center;
    margin-top: 1vw; /* Réduit l'espacement avec le paragraphe */
    font-size: 18px; /* Police légèrement réduite */
}
