.footer {
    background-color: var(--primary);
    
    height:3vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    margin-top: auto;
    width: 100%;
}



.footer a{
    color: var(--text-color);
    text-decoration: none;
}
.footer .logoIUT{
    width: 10vw;
    height: auto;
}
.footer .logo {
    width: 75px;
    height: auto;
}