.footer {
    background-color: var(--primary);
    

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}



.footer a{
    color: var(--text-color);
    text-decoration: none;
}
.footer .logoIUT{
    width: 10vw;
    height: auto;
}
.footer .logo {
    width: 100px;
    height: auto;
}