
.header {
    background-color: var(--primary);
    position: sticky;
    top : 0;
    left: 0;
    height:3vw;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px;
}

.header .logo {
    width: 75px;
    height: auto;
}
.header .iconCompte{
    width: 4vw;
    height: auto;
}

.header nav{
    border: solid;
    border-width: 0.1px;
    border-radius: 30px;

    padding : 1vw;

    background-color: var(--secondary);
}

.header .box{
    border-right: solid;
    border-width: 0.1px;

    padding: 1vw 3vw;

    text-decoration : none;
    color: var(--text-color);
    
}

.header .box:last-of-type{ /*pour empêcher la border à droite du dernier élément */
    border-right: none;
}