.pageClasse {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.partieTop{
    display:flex;
    justify-content: space-evenly;
}


.pageClasseNotJoined {
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.buttonsContainerNotJoined {
    min-width: 45vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.btnNotJoined {
    background-color: var(--quaternary);
    color: #060404;
    border-radius: 8px;
    border: black;
    border-width: 2px;
    padding: 15px 30px;
    font-size: 1.5rem;
    /* Taille du texte augmentée */
    cursor: pointer;
    transition: transform 0.2s ease;
}

.classegauche {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 1vw;

}

.classe {
    background-color: #F1F3C2;
    border-radius: 25px;
    height: 25vw;
    padding: 0.5vw;
    width: 20vw;

}

.classe h2 {
    justify-self: center;
    margin: 0;
    font-size: 1.5vw;
    color: #333;
}



.btnQuitter {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 35px;
    cursor: pointer;
    font-size: 14px;
    width: 50%;
    margin-top: 2vw;
}

.btnajouter:hover {
    background-color: #D8A75F;
}

.classesList {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.classesList li {
    background: var(--tertiary);
    border: 1px solid var(--quaternary);
    border-radius: 12px;
    padding: 15px;
    width: 250px;
    text-align: center;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.classesList li:hover {
    transform: translateY(-5px);
    background-color: var(--quaternary);
    transition: background-color 0.25s ease-in-out;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.classesList a {
    text-decoration: none;
    color: var(--text-color);
    display: block;
}

.classesList h2 {
    font-size: 1.3rem;
    margin-bottom: 8px;
    color: var(--text-color-emphasis);
}

.classesList p {
    font-size: 1rem;
    color: var(--text-color);
}


@media (max-width: 1000px) {
    .pageClasse {
        flex-direction: column;
    }
}