.pageClasse{
    display: flex;
    justify-content: space-evenly;
}

.classegauche{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1vw;
    
}

.classe{
    background-color: #F1F3C2;
    border-radius: 25px;
    height: 25vw;
    padding: 0.5vw;
    width: 20vw;

}

.classe h2 {
    justify-self: center;
    margin: 0;
    font-size: 1.5vw;
    color: #333;
  }

.btnajouter{
    background-color: #E8BB6D;
    height: 4vw;
    padding: 1vw 2vw;
    margin: 0.7vw;
    margin-top: 1vw;
    border: none;
    border-radius: 50px;
    box-shadow: -1px 3px 3px rgb(78, 75, 75);
    font-size: 1.8vw;
    cursor: pointer;
    transition: background-color 0.3s ease; 
}

.btnajouter:hover {
    background-color: #D8A75F; 
  }

.listeEleve {
    list-style: none; 
    padding: 0;
}

.listeEleve li {
    display: flex;
    align-items: center;
    background-color: #F1F3C2;
    border-radius: 50px; 
    margin: 2vw 0; 
    padding: 0.5vw 1vw;
    width: 12vw; 
    height: 4vw; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}


.icone {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFE0E0; 
    border-radius: 50%; 
    height: 3vw; 
    width: 3vw;
    margin-right: 1vw; 
}


.eleve {
    display: flex;
    align-items: center; 
}